.message {
    max-width: 1140px;
    /*margin: 0 auto;*/
    margin: 47px auto ;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.imageAndText {
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
    /*position: absolute;*/
    /*right: 0;*/
    align-items: center;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    max-width: 527px;
    color: #fff;
    background-color: #0066CC;
    margin-right: 10px;
    padding: 7px 31px 8px 13px;
    border-radius: 18px;

}

.text:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 25px solid #0066CC;
    border-bottom: 15px solid transparent;
    right: 48px;
    rotate: 202deg;
    bottom: -5px;
}

.name {
    text-align: right;
    font-size: 18px;
    padding-bottom: 12px;
    font-weight: 600;
}

.messageText {
    display: flex;
    justify-content: flex-end;
    white-space: pre-wrap;

    /*overflow: auto;*/

}

.time {
    display: flex;
    position: absolute;
    bottom: -15px;

}