.burgerMenuIcon {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 27px;
    margin-top: 10px;
    margin-right: 10px;
}